
*{
  box-sizing: border-box;
  margin: 0;
}
h2{
  color: rgba(255, 255, 255, 0.8);
}
body{
  background: rgba(93, 8, 130, 0.9);
  min-height: 100vh;
}
.top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.input-container {
  width: 60vw;
  height: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.input-area {
  width: 75%;
  height: 2rem;
  border: none;
  border-radius: 0.5rem;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.85);
}
.add-btn {
  width: 20%;
  height: 2rem;
  margin-left: 5px;
  border-radius: 0.5rem;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(26, 24, 24, 0.95);
  cursor: pointer;
  font-weight: bold;
  border: none;
}
.add-btn:active {
  transform: scale(0.9);
}
.bottom-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottom-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.completed-items{
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: rgba(176, 210, 166, 0.973);
}
.completed-items.hide{
  display: none;
}
.todo-list{
  width: 85vw;
  overflow: hidden;
  border-radius: 0.5rem;
  margin: 0.25rem 0rem ;
  box-shadow: 5px 5px 5px 4px solid black;
}
.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  /* Push text and icons to opposite ends */
  background-color: rgba(255, 255, 255, 0.85);
  overflow: hidden;
  border-radius: 0.5rem 0.5rem 0.5rem 0rem;
}
.todo-item.completed {
  width: 85vw;
  overflow: hidden;
  background-color: rgb(117, 180, 117);
  color: #666;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}
.todo-text{
  flex: 1;
  width: 75%;
  height: 100%;
  resize: none;
  margin: 0.25rem;
  background-color: transparent;
  font-size: medium;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  font-family: sans-serif;
  padding-left: 5px;
  font-weight: 550;
}
.todo-text:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0,123,255,0.5);
  outline: none;
}
.save-cancle-box{
  display: none; /* Initially hidden */
 /* display: inline-block;*/
  justify-content: center; /* Align to the right */
  padding: 0.1rem;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  overflow: hidden;
}
.todo-icons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  height: 100%;
  width: 24%;
  background-color: rgba(177, 171, 14, 0.9);
  border-radius: 0rem 0.5rem 0.5rem 0rem;
}
.completed-todo-icon{
  width: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(26, 24, 24, 0.65);
  border-radius: 0rem 0.5rem 0.5rem 0rem;
}
.save-btn{
  color: black;
  font-size: medium;
  font-weight: 600;
  border-radius: 0.5rem;
  font-weight: medium;
  padding: 0.5rem 0.75rem;
  margin: 0.25rem;
  border: none;
  background-color: rgba(177, 171, 14, 0.9);
}
.save-btn:hover{
  cursor: pointer;
  background-color: rgba(127, 123, 4, 0.9);
}
.save-btn:active {
  cursor: pointer;
  background-color: rgba(3, 204, 10, 0.8);
  transform: scale(0.9);
}
.edit-btn, 
.check-mark-btn,
.delete-btn,
.completed-delete-btn {
  color: black;
  cursor: pointer;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.edit-btn:active, 
.check-mark-btn:active,
.delete-btn:active {
  color: red;
  transform: scale(1.5);
} 
.delete-btn:hover {
  color: red;
}
.check-mark-btn:active{
  color: rgba(3, 245, 11, 0.8);
  transform: scale(1.5);
}

.complete-ddelete-btn:active {
  color: red;
  transform: scale(1.5);
} 
.completed-delete-btn:hover {
  color: red;
}
